<header class="top-header">

    <span class="siteName">
        <a href="/" class="cse-motors">CSE Motors</a>
    </span>
    <div class="tools">
        <a href="/account/login" class="acc">My Account</a>
    </div>
</header>