<!-- Hero Section -->
<div class="hero">
  <h1>Welcome to CSE Motors!</h1>

  <div class="front">
    <h2>DMC DeLorean</h2>
    <p>
      3 Cup holders <br>
      Superman doors <br>
      Fuzzy dice!
    </p>
    <button class="cta-btn">Own Today</button>
  </div>

  <img src="images/vehicles/delorean.jpg" alt="DMC Delorean">
</div>

<!-- Upgrades and Reviews Section -->
<section class="content">
  <!-- Delorean Upgrades -->
  <div class="upgrades">
    <h3>Delorean Upgrades</h3>
    <div class="upgrade-items">
      <div class="upgrade-item">
        <img src="images/upgrades/flux-cap.png" alt="Capacitor">
        <a href="#">Flux Capacitor</a>
      </div>
      <div class="upgrade-item">
        <img src="images/upgrades/flame.jpg" alt="Decals">
        <a href="#">Flame Decals</a>
      </div>
      <div class="upgrade-item">
        <img src="images/upgrades/bumper_sticker.jpg" alt="Stickers">
        <a href="#">Bumper Stickers</a>
      </div>
      <div class="upgrade-item">
        <img src="images/upgrades/hub-cap.jpg" alt="Caps">
        <a href="#">Hub Caps</a>
      </div>
    </div>
  </div>

  <!-- DMC Delorean Reviews -->
  <div class="reviews">
    <h3>DMC DeLorean Reviews</h3>
    <ul>
      <li>&bull; So fast it’s almost like traveling in time. (4/5)</li>
      <li>&bull; Coolest ride on the road. (4/5)</li>
      <li>&bull; I’m feeling McFly! (5/5)</li>
      <li>&bull; The most futuristic ride of our day. (4.5/5)</li>
      <li>&bull; 80’s livin and I love it! (5/5)</li>
    </ul>
  </div>
</section>