@media only screen and (max-width: 900px) {

  #wrapper {
    width: 100%;

  }

  .cse-motors {
    font-size: 18px;
  }

  nav ul {
    font-size: 12px;
  }

  nav ul li {
    margin: 0;
  }



  nav a {
    font-size: 12px;

  }
}